{% extends "base.html" %}

{% block title %}Password reset complete{% endblock title %}

<style>
  .btn-gradient-red-yellow {
    background: linear-gradient(to right, #00BFFF, #1E90FF);
    border-radius: 10px;
    outline: none;
    box-shadow: 0 0 0 2px #00BFFF;
  }
</style>

{% block content %}
  <h1>Password reset complete</h1>
  <p>Your new password has been set.</p>
  <p>You can log in now on the <a class="btn-gradient-red-yellow" href="{% url 'login' %}">Log In page</a>.</p>
{% endblock content %}
