{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock title %}
<style>
  .btn-gradient-pink-orange {
    background: linear-gradient(to right, #FF1493, #FF6384, #FF9F40);
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: none;
  }

  .btn-gradient-pink-orange:hover {
    opacity: 0.8;
    border-radius: 10px;
    box-shadow: none;
  }

  .btn-gradient-pink-orange[value="Change my password"] {
    background: linear-gradient(to right, #FF1493, #FF6384, #FF9F40);
    box-shadow: none;
    /* border: none; */
    border-radius: 10px;
    box-shadow: none;
  }
</style>


{% block content %}
<h1>Password change</h1>
<p><h5>Please enter your old password, for security's sake, and then enter
  your new password twice so we can verify you typed it in correctly.</h5></p>

<form method="POST">{% csrf_token %}
  {{ form|crispy }}
  <input class="btn btn-success ml-2" style="background: linear-gradient(to right, #FF1493, #FF6384, #FF9F40);" type="submit" type="submit" value="Change my password">
</form>
{% endblock content %}
