{% extends "base.html" %}

{% block title %}Email Sent{% endblock title %}

{% block extra_css %}
<style>
  .btn-gradient-red-yellow {
    background: linear-gradient(to right, #800080, #8A2BE2);
    border-radius: 10px;
    outline: none;
    box-shadow: 0 0 0 2px #800080;
  }
</style>
{% endblock extra_css %}

{% block content %}
<h1>Check your inbox.</h1>
<p class="btn-gradient-red-yellow">We've emailed you instructions for setting your password. You should receive the email shortly!</p>
{% endblock content %}
